openapi: "3.1.0"

info:
  title: TravelTime API
  description: |
    The TravelTime API allows you to calculate travel times, distances, and create isochrones using various transportation modes.
    It provides endpoints for time filtering, route planning, geocoding, and specialized geographic analysis.
  termsOfService: https://www.traveltime.com/terms-and-conditions
  contact:
    name: API Support
    email: support@igeolise.com
  version: 1.3.0

servers:
  - url: https://api.traveltimeapp.com
    description: Production server

externalDocs:
  description: Full API Documentation
  url: https://docs.traveltime.com/api/overview/introduction

security:
  - ApplicationId: []
    ApiKey: []

tags:
  - name: Time Filter
    description: Calculate travel times and distances between locations
  - name: Time Map
    description: Generate isochrone polygons showing reachable areas
  - name: Routes
    description: Calculate detailed routes with turn-by-turn directions
  - name: Geocoding
    description: Convert addresses to coordinates and vice versa
  - name: Distance Map
    description: Create distance-based catchment areas
  - name: Specialized Analysis
    description: H3, Geohash, and UK postcode analysis
  - name: Utility
    description: Map information and location support endpoints

components:
  securitySchemes:
    ApplicationId:
      type: apiKey
      name: X-Application-Id
      in: header
      description: Your TravelTime Application ID
    
    ApiKey:
      type: apiKey
      name: X-Api-Key
      in: header
      description: Your TravelTime API Key

  schemas:
    Coords:
      type: object
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          format: double
          description: Latitude in decimal degrees
          minimum: -90
          maximum: 90
        lng:
          type: number
          format: double
          description: Longitude in decimal degrees
          minimum: -180
          maximum: 180

    RequestLocation:
      type: object
      required:
        - id
        - coords
      properties:
        id:
          type: string
          description: Unique identifier for the location
        coords:
          $ref: '#/components/schemas/Coords'

    RequestSearchId:
      type: string
      description: Unique identifier for the search

    RequestDepartureArrivalLocationOne:
      type: string

    RequestTravelTime:
      type: integer
      minimum: 60
      maximum: 14400
      description: Maximum travel time in seconds (1 minute to 4 hours)

    RequestTravelDistance:
      type: integer
      minimum: 75
      maximum: 800000
      description: Maximum travel distance in meters

    RequestDepartureArrivalTime:
      type: string
      format: date-time
      description: Departure or arrival time in ISO 8601 format

    ResponseLocalTime:
      type: string
      description: Local time at the location

    RequestRoutesProperty:
      type: string
      enum:
        - travel_time
        - distance
        - fares
        - route

    RequestTimeFilterProperty:
      type: string
      enum:
        - travel_time
        - distance
        - distance_breakdown
        - fares
        - route

    RequestRangeEnabled:
      type: boolean

    RequestRangeWidth:
      type: integer
      minimum: 1
      maximum: 43200
      description: Width of the search window in seconds

    RequestRangeFull:
      type: object
      required:
        - enabled
        - max_results
        - width
      properties:
        enabled:
          $ref: '#/components/schemas/RequestRangeEnabled'
        max_results:
          type: integer
          minimum: 1
          maximum: 5
          description: Maximum number of results to return
        width:
          $ref: '#/components/schemas/RequestRangeWidth'

    RequestRangeNoMaxResults:
      type: object
      required:
        - enabled
        - width
      properties:
        enabled:
          $ref: '#/components/schemas/RequestRangeEnabled'
        width:
          $ref: '#/components/schemas/RequestRangeWidth'

    RequestTimeFilterPostcodesProperty:
      type: string
      enum:
        - travel_time
        - distance
    
    RequestTimeFilterPostcodeDistrictsReachablePostcodesThreshold:
      type: number
      format: double
      minimum: 0
      maximum: 1
      description: Minimum percentage of postcodes that must be reachable

    RequestTimeFilterPostcodeDistrictsProperty:
      type: string
      enum:
        - travel_time_reachable
        - travel_time_all
        - coverage
    
    RequestTimeFilterPostcodeSectorsReachablePostcodesThreshold:
      type: number
      format: double
      minimum: 0
      maximum: 1

    RequestTimeFilterPostcodeSectorsProperty:
      type: string
      enum:
        - travel_time_reachable
        - travel_time_all
        - coverage
    
    RequestTimeFilterPostcodeSectorsDepartureSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - departure_time
        - reachable_postcodes_threshold
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        reachable_postcodes_threshold:
          $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsReachablePostcodesThreshold'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
    
    RequestTimeFilterPostcodeSectorsArrivalSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - arrival_time
        - reachable_postcodes_threshold
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        reachable_postcodes_threshold:
          $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsReachablePostcodesThreshold'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
    
    RequestTimeFilterPostcodeDistrictsDepartureSearch:
      type: object
      required:
        - id
        - coords        
        - transportation
        - travel_time
        - departure_time
        - reachable_postcodes_threshold
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        reachable_postcodes_threshold:
          $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsReachablePostcodesThreshold'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
    
    RequestTimeFilterPostcodeDistrictsArrivalSearch:
      type: object
      required:
        - id
        - coords        
        - transportation
        - travel_time
        - arrival_time
        - reachable_postcodes_threshold
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        reachable_postcodes_threshold:
          $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsReachablePostcodesThreshold'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
    
    RequestTimeFilterPostcodesDepartureSearch:
      type: object
      required:
        - id
        - coords        
        - transportation
        - travel_time
        - departure_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
    
    RequestTimeFilterPostcodesArrivalSearch:
      type: object
      required:
        - id
        - coords        
        - transportation
        - travel_time
        - arrival_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
    
    RequestTimeFilterDepartureSearch:
      type: object
      required:
        - id
        - departure_location_id
        - arrival_location_ids
        - transportation
        - travel_time
        - departure_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        departure_location_id:
          type: string
        arrival_location_ids:
          type: array
          minItems: 1
          maxItems: 2000
          items:
            type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'

    RequestTimeFilterArrivalSearch:
      type: object
      required:
        - id
        - departure_location_ids
        - arrival_location_id
        - transportation
        - travel_time
        - arrival_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        departure_location_ids:
          type: array
          minItems: 1
          maxItems: 2000
          items:
            type: string
        arrival_location_id:
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'

    RequestArrivalTimePeriod:
      type: string
      enum:
        - weekday_morning
      description: Pre-defined time period for fast endpoints
    
    RequestTimeFilterFastProperty:
      type: string
      enum:
        - travel_time
        - fares
    
    RequestTimeFilterFastArrivalManyToOneSearch:
      type: object
      required:
        - id
        - arrival_location_id
        - departure_location_ids
        - transportation
        - travel_time
        - arrival_time_period
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        arrival_location_id:
          type: string
        departure_location_ids:
          type: array
          minItems: 1
          maxItems: 100000
          items:
            type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastProperty'

    RequestTimeFilterFastArrivalOneToManySearch:
      type: object
      required:
        - id
        - departure_location_id
        - arrival_location_ids
        - transportation
        - travel_time
        - arrival_time_period
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        departure_location_id:
          type: string
        arrival_location_ids:
          type: array
          minItems: 1
          maxItems: 100000
          items:
            type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastProperty'

    RequestTransportation:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - cycling
            - driving
            - driving+train
            - public_transport
            - walking
            - coach
            - bus
            - train
            - ferry
            - driving+ferry
            - cycling+ferry
          description: Mode of transportation
        pt_change_delay:
          type: integer
          description: Time in seconds for changing between public transport modes
        walking_time:
          type: integer
          description: Maximum walking time in seconds
        driving_time_to_station:
          type: integer
          description: Maximum driving time to station in seconds (for driving+train)
        parking_time:
          type: integer
          description: Time in seconds for parking
        boarding_time:
          type: integer
          description: Time in seconds for boarding

    RequestTransportationFast:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - public_transport
            - driving
            - driving+public_transport
          description: Transportation mode for fast endpoints
    
    RequestRoutesDepartureSearch:
      type: object
      required:
        - id
        - departure_location_id
        - arrival_location_ids
        - transportation
        - departure_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        departure_location_id:
          type: string
        arrival_location_ids:
          type: array
          minItems: 1
          maxItems: 2
          items:
            type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestRoutesProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'

    RequestRoutesArrivalSearch:
      type: object
      required:
        - id
        - departure_location_ids
        - arrival_location_id
        - transportation
        - arrival_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        departure_location_ids:
          type: array
          minItems: 1
          maxItems: 2
          items:
            type: string
        arrival_location_id:
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestRoutesProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'

    RequestTimeFilter:
      type: object
      required:
        - locations
      properties:
        locations:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RequestLocation'
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterArrivalSearch'
    
    RequestTimeFilterPostcodes:
      type: object
      properties:
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesArrivalSearch'

    RequestTimeFilterPostcodeDistricts:
      type: object
      properties:
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsArrivalSearch'

    RequestTimeFilterPostcodeSectors:
      type: object
      properties:
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsArrivalSearch'

    RequestTimeFilterFastArrivalSearches:
      type: object
      properties:
        many_to_one:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastArrivalManyToOneSearch'
        one_to_many:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastArrivalOneToManySearch'

    RequestTimeFilterFast:
      type: object
      required:
        - locations
        - arrival_searches
      properties:
        locations:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RequestLocation'
        arrival_searches:
            $ref: '#/components/schemas/RequestTimeFilterFastArrivalSearches'

    RequestRoutes:
      type: object
      required:
        - locations
      properties:
        locations:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RequestLocation'
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestRoutesDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestRoutesArrivalSearch'

    RequestTimeMapProperty:
      type: string
      enum:
        - is_only_walking

    RequestLevelOfDetail:
      type: object
      required:
        - scale_type
        - level
      properties:
        scale_type:
          type: string
          enum:
            - simple
            - simple_numeric
            - coarse_grid
          description: Type of scale for level of detail
        level:
          type: string
          enum:
            - lowest
            - low
            - medium
            - high
            - highest
          description: Level of detail for the polygon

    RequestUnionOnIntersection:
      type: object
      required:
        - id
        - search_ids
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        search_ids:
          type: array
          items:
            type: string
          description: IDs of searches to union or intersect

    RequestTimeMapDepartureSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - departure_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeMapProperty'
        range:
          $ref: '#/components/schemas/RequestRangeNoMaxResults'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'

    RequestTimeMapArrivalSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - arrival_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeMapProperty'
        range:
          $ref: '#/components/schemas/RequestRangeNoMaxResults'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'

    RequestTimeMap:
      type: object
      properties:
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeMapDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeMapArrivalSearch'
        unions:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'
        intersections:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'

    RequestDistanceMapDepartureSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_distance
        - departure_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_distance:
          $ref: '#/components/schemas/RequestTravelDistance'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'

    RequestDistanceMap:
      type: object
      required:
        - departure_searches
      properties:
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestDistanceMapDepartureSearch'

    RequestGeocodingSearch:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: Address, postcode, or venue to geocode
        within_country:
          type: array
          items:
            type: string
          description: Restrict results to specific countries (ISO 3166-1 alpha-2 or alpha-3)
        limit:
          type: integer
          minimum: 1
          maximum: 50
          description: Maximum number of results to return
        bounds:
          type: string
          description: Bounding box to restrict results (min-lat,min-lng,max-lat,max-lng)
        format_name:
          type: boolean
          description: Format the name field as a well-formatted address
        format_exclude_country:
          type: boolean
          description: Exclude country from formatted name

    RequestReverseGeocodingSearch:
      type: object
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          format: double
          description: Latitude of the location
        lng:
          type: number
          format: double
          description: Longitude of the location

    RequestSupportedLocations:
      type: object
      required:
        - locations
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/RequestLocation'

    ResponseSearchId:
      type: string

    ResponseLocationId:
      type: string

    ResponseTravelTime:
      type: integer
      description: Travel time in seconds

    ResponseDistance:
      type: integer
      description: Distance in meters

    ResponseTransportationMode:
      type: string
      enum:
        - car
        - parking
        - boarding
        - walk
        - bike
        - train
        - rail_national
        - rail_overground
        - rail_underground
        - rail_dlr
        - bus
        - cable_car
        - plane
        - ferry
        - coach

    ResponseDistanceBreakdownItem:
      type: object
      required:
       - mode
       - distance
      properties:
        mode:
          $ref: '#/components/schemas/ResponseTransportationMode'
        distance:
          $ref: '#/components/schemas/ResponseDistance'

    ResponseFareTicket:
      type: object
      required:
        - type
        - price
        - currency
      properties:
        type:
          type: string
          enum:
            - single
            - week
            - month
            - year
        price:
          type: number
          format: double
        currency:
          type: string

    ResponseFaresBreakdownItem:
      type: object
      required:
        - modes
        - route_part_ids
        - tickets
      properties:
        modes:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTransportationMode'
        route_part_ids:
          type: array
          items:
            type: integer
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/ResponseFareTicket'

    ResponseFares:
      type: object
      required:
        - breakdown
        - tickets_total
      properties:
        breakdown:
          type: array
          items:
            $ref: '#/components/schemas/ResponseFaresBreakdownItem'
        tickets_total:
          type: array
          items:
            $ref: '#/components/schemas/ResponseFareTicket'
    
    ResponseFaresFast:
      type: object
      required:
        - tickets_total
      properties:
        tickets_total:
          type: array
          items:
            $ref: '#/components/schemas/ResponseFareTicket'

    ResponseRoutePart:
      type: object
      required:
        - id
        - type
        - mode
        - directions
        - distance
        - travel_time
        - coords
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - basic
            - start_end
            - road
            - public_transport
        mode:
          $ref: '#/components/schemas/ResponseTransportationMode'
        directions:
          type: string
        distance:
          $ref: '#/components/schemas/ResponseDistance'
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        coords:
          type: array
          items:
            $ref: '#/components/schemas/Coords'
        direction:
          type: string
        road:
          type: string
        turn:
          type: string
        line:
          type: string
        departure_station:
          type: string
        arrival_station:
          type: string
        departs_at:
          $ref: '#/components/schemas/ResponseLocalTime'
        arrives_at:
          $ref: '#/components/schemas/ResponseLocalTime'
        num_stops:
          type: integer

    ResponseRoute:
      type: object
      required:
        - departure_time
        - arrival_time
        - parts
      properties:
        departure_time:
          type: string
          format: date-time
        arrival_time:
          type: string
          format: date-time
        parts:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutePart'

    ResponseTimeFilterProperties:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        distance:
          $ref: '#/components/schemas/ResponseDistance'
        distance_breakdown:
          type: array
          items:
            $ref: '#/components/schemas/ResponseDistanceBreakdownItem'
        fares:
          $ref: '#/components/schemas/ResponseFares'
        route:
          $ref: '#/components/schemas/ResponseRoute'

    ResponseTimeFilterLocation:
      type: object
      required:
        - id
        - properties
      properties:
        id:
          type: string
        properties:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterProperties'

    ResponseTimeFilterResult:
      type: object
      required:
        - search_id
        - locations
      properties:
        search_id:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterLocation'
        unreachable:
          type: array
          items:
            type: string

    ResponseTimeFilterResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterResult'

    ResponseTravelTimeStatistics:
      type: object
      required:
        - min
        - max
        - mean
        - median
      properties:
        min:
          type: integer
        max:
          type: integer
        mean:
          type: integer
        median:
          type: integer 

    ResponseTimeFilterPostcodesProperties:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        distance:
          $ref: '#/components/schemas/ResponseDistance'

    ResponseTimeFilterPostcodeDistrictProperties:
      type: object
      properties:
        travel_time_reachable:
          $ref: '#/components/schemas/ResponseTravelTimeStatistics'
        travel_time_all:
          $ref: '#/components/schemas/ResponseTravelTimeStatistics'
        coverage:
          type: number
          format: double
    
    ResponseTimeFilterPostcodeSectorProperties:
      type: object
      properties:
        travel_time_reachable:
          $ref: '#/components/schemas/ResponseTravelTimeStatistics'
        travel_time_all:
          $ref: '#/components/schemas/ResponseTravelTimeStatistics'
        coverage:
          type: number
          format: double

    ResponseTimeFilterFastProperties:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        fares:
          $ref: '#/components/schemas/ResponseFaresFast'

    ResponseRoutesProperties:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        distance:
          $ref: '#/components/schemas/ResponseDistance'
        fares:
          $ref: '#/components/schemas/ResponseFares'
        route:
          $ref: '#/components/schemas/ResponseRoute'

    ResponseRoutesLocation:
      type: object
      required:
        - id
        - properties
      properties:
        id:
          type: string
        properties:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutesProperties'

    ResponseRoutesResult:
      type: object
      required:
        - search_id
        - locations
      properties:
        search_id:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutesLocation'
        unreachable:
          type: array
          items:
            type: string

    ResponseRoutesResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutesResult'

    ResponseTimeMapResult:
      type: object
      required:
        - search_id
        - shapes
      properties:
        search_id:
          type: string
        shapes:
          type: array
          items:
            type: object
            required:
              - shell
            properties:
              shell:
                type: array
                items:
                  $ref: '#/components/schemas/Coords'
              holes:
                type: array
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/Coords'
        properties:
          type: object
          properties:
            is_only_walking:
              type: boolean

    ResponseTimeMapResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeMapResult'

    ResponseGeocodingFeature:
      type: object
      required:
        - type
        - geometry
        - properties
      properties:
        type:
          type: string
          enum:
            - Feature
        geometry:
          type: object
          required:
            - type
            - coordinates
          properties:
            type:
              type: string
              enum:
                - Point
            coordinates:
              type: array
              items:
                type: number
              minItems: 2
              maxItems: 2
        properties:
          type: object
          properties:
            name:
              type: string
            label:
              type: string
            score:
              type: number
            house_number:
              type: string
            street:
              type: string
            region:
              type: string
            region_code:
              type: string
            neighbourhood:
              type: string
            county:
              type: string
            macroregion:
              type: string
            city:
              type: string
            country:
              type: string
            country_code:
              type: string
            continent:
              type: string

    ResponseGeocodingResponse:
      type: object
      required:
        - type
        - features
      properties:
        type:
          type: string
          enum:
            - FeatureCollection
        features:
          type: array
          items:
            $ref: '#/components/schemas/ResponseGeocodingFeature'
        attribution:
          type: string

    ResponseSupportedLocation:
      type: object
      required:
        - id
        - map_name
      properties:
        id:
          type: string
        map_name:
          type: string
        additional_map_names:
          type: array
          items:
            type: string

    ResponseSupportedLocationsResponse:
      type: object
      required:
        - locations
        - unsupported_locations
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/ResponseSupportedLocation'
        unsupported_locations:
          type: array
          items:
            type: string

    ResponseMapInfoFeatures:
      type: object
      properties:
        fares:
          type: boolean
        postcodes:
          type: boolean
        public_transport:
          type: boolean

    ResponseMapInfoMap:
      type: object
      required:
        - name
        - features
      properties:
        name:
          type: string
        features:
          $ref: '#/components/schemas/ResponseMapInfoFeatures'

    ResponseMapInfoResponse:
      type: object
      required:
        - maps
      properties:
        maps:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMapInfoMap'

    ErrorResponse:
      type: object
      required:
        - error_code
        - description
      properties:
        error_code:
          type: integer
        description:
          type: string
        documentation_link:
          type: string
        additional_info:
          type: object

paths:
  /v4/time-filter:
    post:
      tags:
        - Time Filter
      summary: Time Filter (Time Matrix)
      description: |
        Calculate travel times and distances between multiple origins and destinations.
        Supports up to 2,000 locations per search with customizable parameters.
      operationId: timeFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-filter/fast:
    post:
      tags:
        - Time Filter
      summary: Time Filter Fast
      description: |
        High-performance endpoint for calculating travel times between up to 100,000 locations.
        Uses pre-computed data for faster response times.
      operationId: timeFilterFast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeFilterFast'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-filter/postcodes:
    post:
      tags:
        - Specialized Analysis
      summary: Time Filter Postcodes
      description: Filter UK postcodes by travel time
      operationId: timeFilterPostcodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeFilterPostcodes'
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-filter/postcode-districts:
    post:
      tags:
        - Specialized Analysis
      summary: Time Filter Postcode Districts
      description: Filter UK postcode districts by travel time
      operationId: timeFilterPostcodeDistricts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeFilterPostcodeDistricts'
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-filter/postcode-sectors:
    post:
      tags:
        - Specialized Analysis
      summary: Time Filter Postcode Sectors
      description: Filter UK postcode sectors by travel time
      operationId: timeFilterPostcodeSectors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeFilterPostcodeSectors'
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/routes:
    post:
      tags:
        - Routes
      summary: Routes
      description: |
        Calculate detailed routes with turn-by-turn directions between locations.
        Supports multiple transportation modes and returns route geometry.
      operationId: routes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestRoutes'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRoutesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-map:
    post:
      tags:
        - Time Map
      summary: Time Map (Isochrones)
      description: |
        Generate isochrone polygons showing areas reachable within a given travel time.
        Returns polygon coordinates that can be visualized on a map.
      operationId: timeMap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeMap'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeMapResponse'
            application/geo+json:
              schema:
                type: object
                description: GeoJSON FeatureCollection with isochrone polygons
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/distance-map:
    post:
      tags:
        - Distance Map
      summary: Distance Map
      description: |
        Generate isodistance polygons showing areas reachable within a given travel distance.
        Similar to time-map but based on distance rather than time.
      operationId: distanceMap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestDistanceMap'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeMapResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/geocoding/search:
    get:
      tags:
        - Geocoding
      summary: Geocoding Search
      description: Convert address or place name to coordinates (forward geocoding)
      operationId: geocodingSearch
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Address, postcode, or venue to geocode
        - name: within.country
          in: query
          schema:
            type: array
            items:
              type: string
          description: Restrict results to specific countries
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
          description: Maximum number of results
        - name: bounds
          in: query
          schema:
            type: string
          description: Bounding box to restrict results
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseGeocodingResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/geocoding/reverse:
    get:
      tags:
        - Geocoding
      summary: Reverse Geocoding
      description: Convert coordinates to address (reverse geocoding)
      operationId: reverseGeocoding
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Latitude coordinate
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Longitude coordinate
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseGeocodingResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/map-info:
    get:
      tags:
        - Utility
      summary: Map Info
      description: Get information about supported countries and features
      operationId: mapInfo
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMapInfoResponse'

  /v4/supported-locations:
    post:
      tags:
        - Utility
      summary: Supported Locations
      description: Check if specific locations are supported by the API
      operationId: supportedLocations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestSupportedLocations'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSupportedLocationsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
