openapi: "3.1.1"

info:
  title: TravelTime API
  description: |
    The TravelTime API allows you to calculate travel times, distances, and create isochrones using various transportation modes.
    It provides endpoints for time filtering, route planning, geocoding, and specialized geographic analysis.
  termsOfService: https://www.traveltime.com/terms-and-conditions
  contact:
    name: API Support
    email: support@igeolise.com
  version: 1.3.0

servers:
  - url: https://api.traveltimeapp.com
    description: Production server

externalDocs:
  description: Full API Documentation
  url: https://docs.traveltime.com/api/overview/introduction

security:
  - ApplicationId: []
    ApiKey: []

tags:
  - name: Time Filter
    description: Calculate travel times and distances between locations
  - name: Time Map
    description: Generate isochrone polygons showing reachable areas
  - name: Routes
    description: Calculate detailed routes with turn-by-turn directions
  - name: Geocoding
    description: Convert addresses to coordinates and vice versa
  - name: Distance Map
    description: Create distance-based catchment areas
  - name: Specialized Analysis
    description: H3, Geohash, and UK postcode analysis
  - name: Utility
    description: Map information and location support endpoints

components:
  securitySchemes:
    ApplicationId:
      type: apiKey
      name: X-Application-Id
      in: header
      description: Your TravelTime Application ID
    
    ApiKey:
      type: apiKey
      name: X-Api-Key
      in: header
      description: Your TravelTime API Key

  schemas:
    Coords:
      type: object
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          format: double
          description: Latitude in decimal degrees
          minimum: -90
          maximum: 90
        lng:
          type: number
          format: double
          description: Longitude in decimal degrees
          minimum: -180
          maximum: 180

    RequestLocation:
      type: object
      required:
        - id
        - coords
      properties:
        id:
          type: string
          description: Unique identifier for the location
        coords:
          $ref: '#/components/schemas/Coords'

    RequestSearchId:
      type: string
      description: Unique identifier for the search

    RequestDepartureArrivalLocationOne:
      type: string

    RequestTravelTime:
      type: integer
      minimum: 60
      maximum: 14400
      description: Maximum travel time in seconds (1 minute to 4 hours)

    RequestTravelTimeFast:
      type: integer
      minimum: 60
      maximum: 10800
      description: Maximum travel time in seconds (1 minute to 3 hours)

    RequestTravelTimeH3Fast:
      type: integer
      minimum: 60
      maximum: 10800
      description: Maximum travel time in seconds (up to 3 hours). Note that the actual maximum depends on the resolution parameter. Limitations can be found at https://docs.traveltime.com/api/reference/h3-fast#limits-of-resolution-and-traveltime

    RequestTravelTimeH3:
      type: integer
      minimum: 60
      maximum: 36000
      description: Maximum travel time in seconds (up to 10 hours). Note that the actual maximum depends on the resolution parameter. Limitations can be found at https://docs.traveltime.com/api/reference/h3#limits-of-resolution-and-traveltime

    RequestTravelDistance:
      type: integer
      minimum: 75
      maximum: 800000
      description: Maximum travel distance in meters

    RequestDepartureArrivalTime:
      type: string
      format: date-time
      description: Departure or arrival time in ISO 8601 format

    ResponseLocalTime:
      type: string
      description: Local time at the location

    RequestRoutesProperty:
      type: string
      enum:
        - travel_time
        - distance
        - fares
        - route
      description: Properties to return for route searches

    RequestTimeFilterProperty:
      type: string
      enum:
        - travel_time
        - distance
        - distance_breakdown
        - fares
        - route
      description: Properties to return for time filter searches

    RequestRangeEnabled:
      type: boolean
      description: Enable range-based search

    RequestRangeWidth:
      type: integer
      minimum: 1
      maximum: 43200
      description: Width of the search window in seconds

    RequestRangeFull:
      type: object
      required:
        - enabled
        - max_results
        - width
      properties:
        enabled:
          $ref: '#/components/schemas/RequestRangeEnabled'
        max_results:
          type: integer
          minimum: 1
          maximum: 5
          description: Maximum number of results to return
        width:
          $ref: '#/components/schemas/RequestRangeWidth'

    RequestRangeNoMaxResults:
      type: object
      required:
        - enabled
        - width
      properties:
        enabled:
          $ref: '#/components/schemas/RequestRangeEnabled'
        width:
          $ref: '#/components/schemas/RequestRangeWidth'

    RequestSnapping:
      type: object
      properties:
        penalty:
          type: string
          enum:
            - enabled
            - disabled
          description: |
            Controls whether walking distances to/from the nearest road are included in travel time/distance.
            - enabled (default): Walking time/distance from departure to nearest road and from nearest road to arrival are added to totals
            - disabled: Journey starts/ends at the nearest road network point, excluding walking portions
        accept_roads:
          type: string
          enum:
            - both_drivable_and_walkable
            - any_drivable
          description: |
            Controls which road types can serve as journey start/end points.
            - both_drivable_and_walkable (default): Only roads accessible by both cars and pedestrians, preventing routes from starting/ending on motorways
            - any_drivable: Any road accessible by car, including motorways
        threshold:
          type: integer
          description: Maximum distance in meters between locations and the nearest accessible road. Default is 1000 meters. Departure locations exceeding this return errors, arrival locations return unreachable results
          default: 1000

    RequestTimeFilterPostcodesProperty:
      type: string
      enum:
        - travel_time
        - distance
    
    RequestTimeFilterPostcodeDistrictsReachablePostcodesThreshold:
      type: number
      format: double
      minimum: 0
      maximum: 1
      description: Minimum percentage of postcodes that must be reachable

    RequestTimeFilterPostcodeDistrictsProperty:
      type: string
      enum:
        - travel_time_reachable
        - travel_time_all
        - coverage
    
    RequestTimeFilterPostcodeSectorsReachablePostcodesThreshold:
      type: number
      format: double
      minimum: 0
      maximum: 1

    RequestTimeFilterPostcodeSectorsProperty:
      type: string
      enum:
        - travel_time_reachable
        - travel_time_all
        - coverage
    
    RequestTimeFilterPostcodeSectorsDepartureSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - departure_time
        - reachable_postcodes_threshold
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        reachable_postcodes_threshold:
          $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsReachablePostcodesThreshold'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
    
    RequestTimeFilterPostcodeSectorsArrivalSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - arrival_time
        - reachable_postcodes_threshold
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        reachable_postcodes_threshold:
          $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsReachablePostcodesThreshold'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
    
    RequestTimeFilterPostcodeDistrictsDepartureSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - departure_time
        - reachable_postcodes_threshold
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        reachable_postcodes_threshold:
          $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsReachablePostcodesThreshold'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
    
    RequestTimeFilterPostcodeDistrictsArrivalSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - arrival_time
        - reachable_postcodes_threshold
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        reachable_postcodes_threshold:
          $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsReachablePostcodesThreshold'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
    
    RequestTimeFilterPostcodesDepartureSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - departure_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
    
    RequestTimeFilterPostcodesArrivalSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - arrival_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
    
    RequestTimeFilterDepartureSearch:
      type: object
      required:
        - id
        - departure_location_id
        - arrival_location_ids
        - transportation
        - travel_time
        - departure_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        departure_location_id:
          type: string
        arrival_location_ids:
          type: array
          minItems: 1
          maxItems: 2000
          items:
            type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'

    RequestTimeFilterArrivalSearch:
      type: object
      required:
        - id
        - departure_location_ids
        - arrival_location_id
        - transportation
        - travel_time
        - arrival_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        departure_location_ids:
          type: array
          minItems: 1
          maxItems: 2000
          items:
            type: string
        arrival_location_id:
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'

    RequestArrivalTimePeriod:
      type: string
      enum:
        - weekday_morning
      description: Pre-defined time period for fast endpoints
    
    RequestTimeFilterFastProperty:
      type: string
      enum:
        - travel_time
        - distance
        - fares
      description: |
        Properties to return for fast time filter searches.
        - travel_time: Travel duration in seconds
        - distance: Journey distance in meters (only available for driving+ferry, cycling+ferry, and walking+ferry transportation types)
        - fares: Pricing information (UK locations only)
    
    RequestTimeFilterFastArrivalManyToOneSearch:
      type: object
      required:
        - id
        - arrival_location_id
        - departure_location_ids
        - transportation
        - travel_time
        - arrival_time_period
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        arrival_location_id:
          type: string
        departure_location_ids:
          type: array
          minItems: 1
          maxItems: 100000
          items:
            type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTimeFast'
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastProperty'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'

    RequestTimeFilterFastArrivalOneToManySearch:
      type: object
      required:
        - id
        - departure_location_id
        - arrival_location_ids
        - transportation
        - travel_time
        - arrival_time_period
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        departure_location_id:
          type: string
        arrival_location_ids:
          type: array
          minItems: 1
          maxItems: 100000
          items:
            type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTimeFast'
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastProperty'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'

    RequestTransportation:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - cycling
            - driving
            - driving+train
            - driving+public_transport
            - public_transport
            - walking
            - coach
            - bus
            - train
            - ferry
            - driving+ferry
            - cycling+ferry
            - cycling+public_transport
          description: Mode of transportation
        pt_change_delay:
          type: integer
          description: Time in seconds for changing between public transport modes
          default: 0
        walking_time:
          type: integer
          description: Maximum walking time in seconds
          default: 900
        driving_time_to_station:
          type: integer
          description: Maximum driving time to station in seconds (for driving+train)
          default: 1800
        cycling_time_to_station:
          type: integer
          description: Maximum cycling time to station in seconds (for cycling+public_transport)
          default: 900
        parking_time:
          type: integer
          description: Time in seconds for parking
          default: 300
        boarding_time:
          type: integer
          description: Time in seconds for boarding
          default: 0
        disable_border_crossing:
          type: boolean
          description: Disable crossing country borders (driving only)
          default: false
        include_roads:
          type: array
          items:
            type: string
            enum:
              - track
              - restricted
          description: Additional road types to include when executing search. Only affects driving and driving+ferry transportation modes. track = unpaved roads that only allow very slow driving speed or may require an off-road capable vehicle. restricted = roads that are not publicly accessible and may require a special permit. By default all of these roads are excluded from the search.
        traffic_model:
          type: string
          enum:
            - balanced
            - optimistic
            - pessimistic
          description: Specifies how traffic conditions are accounted for in driving modes. balanced (default) = uses typical traffic conditions. optimistic = uses lighter traffic conditions, resulting in shorter travel times. pessimistic = uses heavier traffic conditions, resulting in longer travel times. Used in driving, driving+ferry, driving+train, and driving+public_transport transportation modes.
        max_changes:
          type: object
          properties:
            enabled:
              type: boolean
              description: Enable transit leg change limit
            limit:
              type: integer
              description: Maximum number of changes between transit legs in a journey.
          description: Upper limit for the number of changes between public transit legs in a journey.

    RequestTransportationFast:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - public_transport
            - walking+ferry
            - cycling+ferry
            - driving+ferry
            - driving+public_transport
          description: Transportation mode for fast endpoints
        traffic_model:
          type: string
          enum:
            - peak
            - off_peak
          description: Determines the level of traffic used in driving journeys. peak (default) = represents typical traffic conditions for a midweek morning. off_peak = represents typical traffic conditions at night time. Can only be specified with driving+ferry and driving+public_transport transportation types.
    
    RequestRoutesDepartureSearch:
      type: object
      required:
        - id
        - departure_location_id
        - arrival_location_ids
        - transportation
        - departure_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        departure_location_id:
          type: string
        arrival_location_ids:
          type: array
          minItems: 1
          maxItems: 2
          items:
            type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestRoutesProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'

    RequestRoutesArrivalSearch:
      type: object
      required:
        - id
        - departure_location_ids
        - arrival_location_id
        - transportation
        - arrival_time
        - properties
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        departure_location_ids:
          type: array
          minItems: 1
          maxItems: 2
          items:
            type: string
        arrival_location_id:
          type: string
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestRoutesProperty'
        range:
          $ref: '#/components/schemas/RequestRangeFull'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'

    RequestTimeFilter:
      type: object
      description: At least one of departure_searches or arrival_searches must contain items
      required:
        - locations
      properties:
        locations:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RequestLocation'
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterArrivalSearch'
    
    RequestTimeFilterPostcodes:
      type: object
      description: At least one of departure_searches or arrival_searches must contain items
      properties:
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodesArrivalSearch'

    RequestTimeFilterPostcodeDistricts:
      type: object
      description: At least one of departure_searches or arrival_searches must contain items
      properties:
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeDistrictsArrivalSearch'

    RequestTimeFilterPostcodeSectors:
      type: object
      description: At least one of departure_searches or arrival_searches must contain items
      properties:
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterPostcodeSectorsArrivalSearch'

    RequestTimeFilterFastArrivalSearches:
      type: object
      description: At least one of many_to_one or one_to_many must contain items
      properties:
        many_to_one:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastArrivalManyToOneSearch'
        one_to_many:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeFilterFastArrivalOneToManySearch'

    RequestTimeFilterFast:
      type: object
      required:
        - locations
        - arrival_searches
      properties:
        locations:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RequestLocation'
        arrival_searches:
            $ref: '#/components/schemas/RequestTimeFilterFastArrivalSearches'

    RequestRoutes:
      type: object
      description: At least one of departure_searches or arrival_searches must contain items
      required:
        - locations
      properties:
        locations:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RequestLocation'
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestRoutesDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestRoutesArrivalSearch'

    RequestTimeMapProperty:
      type: string
      enum:
        - is_only_walking

    RequestLevelOfDetail:
      type: object
      properties:
        scale_type:
          type: string
          enum:
            - simple
            - simple_numeric
            - coarse_grid
          description: Type of scale for level of detail. simple = level specified using simple enumeration. simple_numeric = level specified using integers (extension of simple scale). coarse_grid = level specified as a number to simplify shape to a grid density.
        level:
          oneOf:
            - type: string
              enum:
                - lowest
                - low
                - medium
                - high
                - highest
              description: Used with simple scale_type
            - type: integer
              minimum: -20
              maximum: 2
              description: Used with simple_numeric scale_type. Lower numbers = less detail. Values -2 to 2 are equivalent to lowest to highest of simple scale.
          description: Level of detail for the polygon. Can be string (for simple scale) or integer (for simple_numeric scale).
        square_size:
          type: integer
          minimum: 600
          description: Used with coarse_grid scale_type. Specifies the side length (in meters) of the squares used to construct the shape. Larger values = less detailed shape.

    RequestPolygonsFilter:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
          description: At most this amount of largest polygons will be returned in a single shape. Must be greater than 0.

    RequestUnionOnIntersection:
      type: object
      required:
        - id
        - search_ids
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        search_ids:
          type: array
          items:
            type: string
          description: IDs of searches to union or intersect

    RequestTimeMapDepartureSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - departure_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeMapProperty'
        range:
          $ref: '#/components/schemas/RequestRangeNoMaxResults'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
        polygons_filter:
          $ref: '#/components/schemas/RequestPolygonsFilter'
        no_holes:
          type: boolean
          description: Enable to remove holes from returned polygons. Note that this will likely result in loss in accuracy.
        render_mode:
          type: string
          enum:
            - approximate_time_filter
            - road_buffering
          description: Controls how the shape is rendered. approximate_time_filter (default) = shape matches time-filter results as much as possible. road_buffering = shape looks as if traversed roads have been painted over with a wide brush.
        remove_water_bodies:
          type: boolean
          description: If true (default), returned shape will not cover large nearby water bodies. If false, shape may cover nearby water bodies like large lakes, wide rivers and seas.

    RequestTimeMapArrivalSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - arrival_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestTimeMapProperty'
        range:
          $ref: '#/components/schemas/RequestRangeNoMaxResults'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
        polygons_filter:
          $ref: '#/components/schemas/RequestPolygonsFilter'
        no_holes:
          type: boolean
          description: Enable to remove holes from returned polygons. Note that this will likely result in loss in accuracy.
        render_mode:
          type: string
          enum:
            - approximate_time_filter
            - road_buffering
          description: Controls how the shape is rendered. approximate_time_filter (default) = shape matches time-filter results as much as possible. road_buffering = shape looks as if traversed roads have been painted over with a wide brush.
        remove_water_bodies:
          type: boolean
          description: If true (default), returned shape will not cover large nearby water bodies. If false, shape may cover nearby water bodies like large lakes, wide rivers and seas.

    RequestTimeMap:
      type: object
      description: At least one of departure_searches or arrival_searches must contain items
      properties:
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeMapDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeMapArrivalSearch'
        unions:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'
        intersections:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'

    RequestDistanceMapDepartureSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_distance
        - departure_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_distance:
          $ref: '#/components/schemas/RequestTravelDistance'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
        polygons_filter:
          $ref: '#/components/schemas/RequestPolygonsFilter'
        no_holes:
          type: boolean
          description: Enable to remove holes from returned polygons. Note that this will likely result in loss in accuracy.

    RequestDistanceMapArrivalSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_distance
        - arrival_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_distance:
          $ref: '#/components/schemas/RequestTravelDistance'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
        polygons_filter:
          $ref: '#/components/schemas/RequestPolygonsFilter'
        no_holes:
          type: boolean
          description: Enable to remove holes from returned polygons. Note that this will likely result in loss in accuracy.

    RequestDistanceMap:
      type: object
      properties:
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestDistanceMapDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestDistanceMapArrivalSearch'
        unions:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'
          description: Define the unions of shapes from previously defined departure or arrival searches
        intersections:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'
          description: Define the intersections of shapes from previously defined departure or arrival searches

    RequestRenderMode:
      type: string
      enum:
        - approximate_time_filter
        - road_buffering
      description: Rendering mode for time-map/fast

    RequestTimeMapFastArrivalManyToOneSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - arrival_time_period
        - travel_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTimeFast'
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
        polygons_filter:
          $ref: '#/components/schemas/RequestPolygonsFilter'
        no_holes:
          type: boolean
          description: Remove holes from polygons
        render_mode:
          $ref: '#/components/schemas/RequestRenderMode'

    RequestTimeMapFastArrivalOneToManySearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - arrival_time_period
        - travel_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTimeFast'
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        level_of_detail:
          $ref: '#/components/schemas/RequestLevelOfDetail'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
        polygons_filter:
          $ref: '#/components/schemas/RequestPolygonsFilter'
        no_holes:
          type: boolean
          description: Remove holes from polygons
        render_mode:
          $ref: '#/components/schemas/RequestRenderMode'

    RequestTimeMapFastArrivalSearches:
      type: object
      description: At least one of many_to_one or one_to_many must contain items
      properties:
        many_to_one:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeMapFastArrivalManyToOneSearch'
        one_to_many:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestTimeMapFastArrivalOneToManySearch'

    RequestTimeMapFast:
      type: object
      required:
        - arrival_searches
      properties:
        arrival_searches:
          $ref: '#/components/schemas/RequestTimeMapFastArrivalSearches'

    RequestH3Resolution:
      type: string
      enum:
        - "6"
        - "7"
        - "8"
        - "9"
        - "10"
        - "11"
        - "12"
      description: H3 cell resolution level (6-12). Refer to relevant docs for limitations

    RequestH3Property:
      type: string
      enum:
        - min
        - max
        - mean
      description: H3 cell properties to return

    RequestH3DepartureSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - departure_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTimeH3'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        range:
          $ref: '#/components/schemas/RequestRangeNoMaxResults'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
        remove_water_bodies:
          type: boolean
          description: Remove water bodies from the results

    RequestH3ArrivalSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - arrival_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTimeH3'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        range:
          $ref: '#/components/schemas/RequestRangeNoMaxResults'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
        remove_water_bodies:
          type: boolean
          description: Remove water bodies from the results

    RequestH3:
      type: object
      required:
        - resolution
        - properties
      properties:
        resolution:
          $ref: '#/components/schemas/RequestH3Resolution'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestH3Property'
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestH3DepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestH3ArrivalSearch'
        unions:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'
        intersections:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'

    RequestH3FastArrivalManyToOneSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - arrival_time_period
        - travel_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTimeH3Fast'
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'

    RequestH3FastArrivalOneToManySearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - arrival_time_period
        - travel_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTimeH3Fast'
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'

    RequestH3FastArrivalSearches:
      type: object
      description: At least one of many_to_one or one_to_many must contain items
      properties:
        many_to_one:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestH3FastArrivalManyToOneSearch'
        one_to_many:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestH3FastArrivalOneToManySearch'

    RequestH3Fast:
      type: object
      required:
        - resolution
        - properties
        - arrival_searches
      properties:
        resolution:
          $ref: '#/components/schemas/RequestH3Resolution'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestH3Property'
        arrival_searches:
          $ref: '#/components/schemas/RequestH3FastArrivalSearches'
        unions:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'
        intersections:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'

    RequestGeohashResolution:
      type: string
      enum:
        - "1"
        - "2"
        - "3"
        - "4"
        - "5"
        - "6"
      description: Geohash cell resolution level

    RequestGeohashProperty:
      type: string
      enum:
        - min
        - max
        - mean
      description: Geohash cell properties to return

    RequestGeohashDepartureSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - departure_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        departure_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        range:
          $ref: '#/components/schemas/RequestRangeNoMaxResults'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
        remove_water_bodies:
          type: boolean
          description: Remove water bodies from the results

    RequestGeohashArrivalSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - travel_time
        - arrival_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportation'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTime'
        arrival_time:
          $ref: '#/components/schemas/RequestDepartureArrivalTime'
        range:
          $ref: '#/components/schemas/RequestRangeNoMaxResults'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'
        remove_water_bodies:
          type: boolean
          description: Remove water bodies from the results

    RequestGeohash:
      type: object
      required:
        - resolution
        - properties
      properties:
        resolution:
          $ref: '#/components/schemas/RequestGeohashResolution'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestGeohashProperty'
        departure_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestGeohashDepartureSearch'
        arrival_searches:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestGeohashArrivalSearch'
        unions:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'
        intersections:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'

    RequestGeohashFastArrivalManyToOneSearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - arrival_time_period
        - travel_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTimeFast'
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'

    RequestGeohashFastArrivalOneToManySearch:
      type: object
      required:
        - id
        - coords
        - transportation
        - arrival_time_period
        - travel_time
      properties:
        id:
          $ref: '#/components/schemas/RequestSearchId'
        coords:
          $ref: '#/components/schemas/Coords'
        transportation:
          $ref: '#/components/schemas/RequestTransportationFast'
        travel_time:
          $ref: '#/components/schemas/RequestTravelTimeFast'
        arrival_time_period:
          $ref: '#/components/schemas/RequestArrivalTimePeriod'
        snapping:
          $ref: '#/components/schemas/RequestSnapping'

    RequestGeohashFastArrivalSearches:
      type: object
      description: At least one of many_to_one or one_to_many must contain items
      properties:
        many_to_one:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestGeohashFastArrivalManyToOneSearch'
        one_to_many:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestGeohashFastArrivalOneToManySearch'

    RequestGeohashFast:
      type: object
      required:
        - resolution
        - properties
        - arrival_searches
      properties:
        resolution:
          $ref: '#/components/schemas/RequestGeohashResolution'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/RequestGeohashProperty'
        arrival_searches:
          $ref: '#/components/schemas/RequestGeohashFastArrivalSearches'
        unions:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'
        intersections:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/RequestUnionOnIntersection'

    RequestSupportedLocations:
      type: object
      required:
        - locations
      properties:
        locations:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RequestLocation'

    ResponseSearchId:
      type: string

    ResponseLocationId:
      type: string

    ResponseTravelTime:
      type: integer
      description: Travel time in seconds

    ResponseDistance:
      type: integer
      description: Distance in meters

    ResponseTransportationMode:
      type: string
      enum:
        - car
        - parking
        - boarding
        - walk
        - bike
        - bike_parking
        - train
        - rail_national
        - rail_overground
        - rail_underground
        - rail_dlr
        - bus
        - cable_car
        - plane
        - ferry
        - coach

    ResponseDistanceBreakdownItem:
      type: object
      required:
       - mode
       - distance
      properties:
        mode:
          $ref: '#/components/schemas/ResponseTransportationMode'
        distance:
          $ref: '#/components/schemas/ResponseDistance'

    ResponseFareTicket:
      type: object
      required:
        - type
        - price
        - currency
      properties:
        type:
          type: string
          enum:
            - single
            - week
            - month
            - year
        price:
          type: number
          format: double
        currency:
          type: string
          description: ISO 4217 currency code.
    
    ResponseFareTicketFast:
      type: object
      required:
        - type
        - price
        - currency
      properties:
        type:
          type: string
          enum:
            - month
            - year
        price:
          type: number
          format: double
        currency:
          type: string
          description: ISO 4217 currency code.

    ResponseFaresBreakdownItem:
      type: object
      required:
        - modes
        - route_part_ids
        - tickets
      properties:
        modes:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTransportationMode'
        route_part_ids:
          type: array
          items:
            type: integer
          description: Id's of route parts that are covered by these tickets.
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/ResponseFareTicket'

    ResponseFares:
      type: object
      required:
        - breakdown
        - tickets_total
      properties:
        breakdown:
          type: array
          items:
            $ref: '#/components/schemas/ResponseFaresBreakdownItem'
        tickets_total:
          type: array
          items:
            $ref: '#/components/schemas/ResponseFareTicket'
    
    ResponseFaresFast:
      type: object
      required:
        - tickets_total
      properties:
        tickets_total:
          type: array
          items:
            $ref: '#/components/schemas/ResponseFareTicketFast'

    ResponseRoutePart:
      type: object
      required:
        - id
        - type
        - mode
        - directions
        - distance
        - travel_time
        - coords
      properties:
        id:
          type: integer
          description: A sequential id, used to relate route parts with fare data
        type:
          type: string
          enum:
            - basic
            - start_end
            - road
            - public_transport
          description: Type of route part
        mode:
          $ref: '#/components/schemas/ResponseTransportationMode'
        directions:
          type: string
          description: Human-readable directions for this part
        distance:
          $ref: '#/components/schemas/ResponseDistance'
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        coords:
          type: array
          items:
            $ref: '#/components/schemas/Coords'
          description: Coordinates along this route part
        direction:
          type: string
          description: Only available when type is start_end
        road:
          type: string
          description: Road name. May be present on parts where type is road
        turn:
          type: string
          description: Turn direction. May be present on parts where type is road
        line:
          type: string
          description: Public transport line name. Only available when type is public_transport
        departure_station:
          type: string
          description: Departure station name. Only available when type is public_transport
        arrival_station:
          type: string
          description: Arrival station name. Only available when type is public_transport
        departs_at:
          $ref: '#/components/schemas/ResponseLocalTime'
        arrives_at:
          $ref: '#/components/schemas/ResponseLocalTime'
        num_stops:
          type: integer
          description: Number of stops. Only available when type is public_transport

    ResponseRoute:
      type: object
      required:
        - departure_time
        - arrival_time
        - parts
      properties:
        departure_time:
          type: string
          format: date-time
        arrival_time:
          type: string
          format: date-time
        parts:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutePart'

    ResponseTimeFilterProperties:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        distance:
          $ref: '#/components/schemas/ResponseDistance'
        distance_breakdown:
          type: array
          items:
            $ref: '#/components/schemas/ResponseDistanceBreakdownItem'
        fares:
          $ref: '#/components/schemas/ResponseFares'
        route:
          $ref: '#/components/schemas/ResponseRoute'
    
    ResponseTimeFilterPropertiesFast:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        distance:
          $ref: '#/components/schemas/ResponseDistance'
        fares:
          $ref: '#/components/schemas/ResponseFaresFast'

    ResponseTimeFilterLocation:
      type: object
      required:
        - id
        - properties
      properties:
        id:
          type: string
        properties:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterProperties'
    
    ResponseTimeFilterLocationFast:
      type: object
      required:
        - id
        - properties
      properties:
        id:
          type: string
        properties:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterPropertiesFast'

    ResponseTimeFilterResult:
      type: object
      required:
        - search_id
        - locations
      properties:
        search_id:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterLocation'
        unreachable:
          type: array
          items:
            type: string
    
    ResponseTimeFilterResultFast:
      type: object
      required:
        - search_id
        - locations
      properties:
        search_id:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterLocationFast'
        unreachable:
          type: array
          items:
            type: string

    ResponseTimeFilterResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterResult'
    
    ResponseTimeFilterResponseFast:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterResultFast'

    ResponseTimeFilterGetProperties:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'

    ResponseTimeFilterGetLocation:
      type: object
      required:
        - id
      properties:
        id:
          type: string
        properties:
          $ref: '#/components/schemas/ResponseTimeFilterGetProperties'

    ResponseTimeFilterGetResult:
      type: object
      required:
        - search_id
        - locations
      properties:
        search_id:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterGetLocation'
        unreachable:
          type: array
          items:
            type: string

    ResponseTimeFilterGetResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterGetResult'

    ResponseTravelTimeStatistics:
      type: object
      required:
        - min
        - max
        - mean
        - median
      properties:
        min:
          type: integer
        max:
          type: integer
        mean:
          type: integer
        median:
          type: integer 

    ResponseTimeFilterPostcodesProperties:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        distance:
          $ref: '#/components/schemas/ResponseDistance'

    ResponseTimeFilterPostcodeDistrictProperties:
      type: object
      properties:
        travel_time_reachable:
          $ref: '#/components/schemas/ResponseTravelTimeStatistics'
        travel_time_all:
          $ref: '#/components/schemas/ResponseTravelTimeStatistics'
        coverage:
          type: number
          format: double
    
    ResponseTimeFilterPostcodeSectorProperties:
      type: object
      properties:
        travel_time_reachable:
          $ref: '#/components/schemas/ResponseTravelTimeStatistics'
        travel_time_all:
          $ref: '#/components/schemas/ResponseTravelTimeStatistics'
        coverage:
          type: number
          format: double

    ResponseTimeFilterPostcode:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: Postcode code
        properties:
          $ref: '#/components/schemas/ResponseTimeFilterPostcodesProperties'

    ResponseTimeFilterPostcodesResult:
      type: object
      required:
        - search_id
        - postcodes
      properties:
        search_id:
          type: string
        postcodes:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterPostcode'

    ResponseTimeFilterPostcodesResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterPostcodesResult'

    ResponseTimeFilterPostcodeDistrict:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: Postcode district code
        properties:
          $ref: '#/components/schemas/ResponseTimeFilterPostcodeDistrictProperties'

    ResponseTimeFilterPostcodeDistrictsResult:
      type: object
      required:
        - search_id
        - districts
      properties:
        search_id:
          type: string
        districts:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterPostcodeDistrict'

    ResponseTimeFilterPostcodeDistrictsResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterPostcodeDistrictsResult'

    ResponseTimeFilterPostcodeSector:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: Postcode sector code
        properties:
          $ref: '#/components/schemas/ResponseTimeFilterPostcodeSectorProperties'

    ResponseTimeFilterPostcodeSectorsResult:
      type: object
      required:
        - search_id
        - sectors
      properties:
        search_id:
          type: string
        sectors:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterPostcodeSector'

    ResponseTimeFilterPostcodeSectorsResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterPostcodeSectorsResult'

    ResponseTimeFilterFastProperties:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        distance:
          $ref: '#/components/schemas/ResponseDistance'
        fares:
          $ref: '#/components/schemas/ResponseFaresFast'

    ResponseRoutesProperties:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        distance:
          $ref: '#/components/schemas/ResponseDistance'
        fares:
          $ref: '#/components/schemas/ResponseFares'
        route:
          $ref: '#/components/schemas/ResponseRoute'

    ResponseRoutesLocation:
      type: object
      required:
        - id
        - properties
      properties:
        id:
          type: string
        properties:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutesProperties'

    ResponseRoutesResult:
      type: object
      required:
        - search_id
        - locations
      properties:
        search_id:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutesLocation'
        unreachable:
          type: array
          items:
            type: string

    ResponseRoutesResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutesResult'

    ResponseRoutesGetProperties:
      type: object
      properties:
        travel_time:
          $ref: '#/components/schemas/ResponseTravelTime'
        distance:
          $ref: '#/components/schemas/ResponseDistance'
        route:
          $ref: '#/components/schemas/ResponseRoute'

    ResponseRoutesGetLocation:
      type: object
      required:
        - id
        - properties
      properties:
        id:
          type: string
        properties:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutesGetProperties'

    ResponseRoutesGetResult:
      type: object
      required:
        - search_id
        - locations
      properties:
        search_id:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutesGetLocation'
        unreachable:
          type: array
          items:
            type: string

    ResponseRoutesGetResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseRoutesGetResult'

    ResponseTimeMapResult:
      type: object
      required:
        - search_id
        - shapes
      properties:
        search_id:
          type: string
        shapes:
          type: array
          items:
            type: object
            required:
              - shell
            properties:
              shell:
                type: array
                items:
                  $ref: '#/components/schemas/Coords'
              holes:
                type: array
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/Coords'
        properties:
          type: object
          properties:
            is_only_walking:
              type: boolean

    ResponseTimeMapResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeMapResult'

    ResponsePublicTransportInfo:
      type: object
      properties:
        date_start:
          type: string
          format: date
          description: Start date of public transport data availability
        date_end:
          type: string
          format: date
          description: End date of public transport data availability

    ResponseTimeFilterFastPeriod:
      type: object
      properties:
        time_period:
          type: string
        supported:
          type: array
          items:
            type: object
            properties:
              search_type:
                type: string
              transportation_mode:
                type: string

    ResponseTimeFilterFastInfo:
      type: object
      properties:
        periods:
          type: array
          items:
            $ref: '#/components/schemas/ResponseTimeFilterFastPeriod'

    ResponseLocationFeatures:
      type: object
      description: Available TravelTime API features for this location
      properties:
        public_transport:
          $ref: '#/components/schemas/ResponsePublicTransportInfo'
        postcode:
          type: boolean
        fares:
          type: boolean
        cross_country_modes:
          type: array
          items:
            type: string
        time_filter_fast:
          $ref: '#/components/schemas/ResponseTimeFilterFastInfo'

    ResponseGeocodingFeature:
      type: object
      required:
        - type
        - geometry
        - properties
      properties:
        type:
          type: string
          enum:
            - Feature
        geometry:
          type: object
          required:
            - type
            - coordinates
          properties:
            type:
              type: string
              enum:
                - Point
            coordinates:
              type: array
              items:
                type: number
              minItems: 2
              maxItems: 2
              description: Coordinates in [longitude, latitude] format
        properties:
          type: object
          properties:
            name:
              type: string
              description: Well formatted, human-readable address of the location (if format.name=true)
            label:
              type: string
              description: Full formatted address
            score:
              type: number
              description: Relevance score for the search result
            house_number:
              type: string
            street:
              type: string
            region:
              type: string
            region_code:
              type: string
            neighbourhood:
              type: string
            county:
              type: string
            macroregion:
              type: string
            city:
              type: string
            country:
              type: string
            country_code:
              type: string
            continent:
              type: string
            postcode:
              type: string
            local_admin:
              type: string
            district:
              type: string
            town:
              type: string
            category:
              type: string
              description: Category of the location
            type:
              type: string
              description: Type of the location
            features:
              $ref: '#/components/schemas/ResponseLocationFeatures'

    ResponseGeocodingResponse:
      type: object
      required:
        - type
        - features
      properties:
        type:
          type: string
          enum:
            - FeatureCollection
        features:
          type: array
          items:
            $ref: '#/components/schemas/ResponseGeocodingFeature'
        attribution:
          type: string

    ResponseH3Properties:
      type: object
      properties:
        min:
          type: integer
          description: Minimum travel time in seconds
        max:
          type: integer
          description: Maximum travel time in seconds
        mean:
          type: integer
          description: Mean travel time in seconds

    ResponseH3Cell:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: H3 cell identifier
        properties:
          $ref: '#/components/schemas/ResponseH3Properties'

    ResponseH3Result:
      type: object
      required:
        - search_id
        - cells
      properties:
        search_id:
          type: string
        cells:
          type: array
          items:
            $ref: '#/components/schemas/ResponseH3Cell'

    ResponseH3Response:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseH3Result'

    ResponseGeohashProperties:
      type: object
      properties:
        min:
          type: integer
          description: Minimum travel time in seconds
        max:
          type: integer
          description: Maximum travel time in seconds
        mean:
          type: integer
          description: Mean travel time in seconds

    ResponseGeohashCell:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Geohash cell identifier
        properties:
          $ref: '#/components/schemas/ResponseGeohashProperties'

    ResponseGeohashResult:
      type: object
      required:
        - search_id
        - cells
      properties:
        search_id:
          type: string
        cells:
          type: array
          items:
            $ref: '#/components/schemas/ResponseGeohashCell'

    ResponseGeohashResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResponseGeohashResult'

    ResponseSupportedLocation:
      type: object
      required:
        - id
        - map_name
      properties:
        id:
          type: string
        map_name:
          type: string
        additional_map_names:
          type: array
          items:
            type: string

    ResponseSupportedLocationsResponse:
      type: object
      required:
        - locations
        - unsupported_locations
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/ResponseSupportedLocation'
        unsupported_locations:
          type: array
          items:
            type: string

    ResponseMapInfoFeatures:
      type: object
      properties:
        fares:
          type: boolean
          description: Indicates whether or not we have fare data
        postcode:
          type: boolean
          description: Indicates whether or not postcode searches are supported
        public_transport:
          $ref: '#/components/schemas/ResponsePublicTransportInfo'
        time_filter_fast:
          $ref: '#/components/schemas/ResponseTimeFilterFastInfo'
        cross_country_modes:
          type: array
          items:
            type: string
          description: Array of supported transportation modes while doing cross country search

    ResponseMapInfoMap:
      type: object
      required:
        - name
        - features
      properties:
        name:
          type: string
        features:
          $ref: '#/components/schemas/ResponseMapInfoFeatures'

    ResponseMapInfoResponse:
      type: object
      required:
        - maps
      properties:
        maps:
          type: array
          items:
            $ref: '#/components/schemas/ResponseMapInfoMap'

    ErrorResponse:
      type: object
      required:
        - error_code
        - description
      properties:
        error_code:
          type: integer
        description:
          type: string
        documentation_link:
          type: string
        additional_info:
          type: object

paths:
  /v4/time-filter:
    get:
      tags:
        - Time Filter
      summary: Time Filter GET (Simple Matrix Query)
      description: |
        Calculate travel times and distances from one search location to multiple target locations using a simple GET request.
        For more complex queries with multiple searches, use the POST endpoint.
        Note: Either departure_time or arrival_time must be specified (but not both).
      operationId: timeFilterGet
      parameters:
        - name: app_id
          in: query
          required: true
          schema:
            type: string
          description: Your TravelTime application ID
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Your TravelTime API key
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - walking
              - public_transport
              - driving
              - cycling
          description: Mode of transport
        - name: search_lat
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Latitude of the search location
        - name: search_lng
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Longitude of the search location
        - name: locations
          in: query
          required: true
          schema:
            type: string
          description: Coordinates of target locations in the format lat1_lng1,lat2_lng2,lat3_lng3 (e.g., 51.1234_0.1234,50.0000_-1.0000). Maximum 2,000 locations
        - name: departure_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Departure time in ISO 8601 format (e.g., 2025-11-11T08:00:00Z). Either departure_time or arrival_time must be specified (but not both)
        - name: arrival_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Arrival time in ISO 8601 format (e.g., 2025-11-11T08:00:00Z). Either departure_time or arrival_time must be specified (but not both)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterGetResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Time Filter
      summary: Time Filter (Time Matrix)
      description: |
        Calculate travel times and distances between multiple origins and destinations.
        Supports up to 2,000 locations per search with customizable parameters.
      operationId: timeFilter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeFilter'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-filter/fast:
    post:
      tags:
        - Time Filter
      summary: Time Filter Fast
      description: |
        High-performance endpoint for calculating travel times between up to 100,000 locations.
        Uses pre-computed data for faster response times.
      operationId: timeFilterFast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeFilterFast'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterResponseFast'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-filter/postcodes:
    post:
      tags:
        - Specialized Analysis
      summary: Time Filter Postcodes
      description: Filter UK postcodes by travel time
      operationId: timeFilterPostcodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeFilterPostcodes'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterPostcodesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-filter/postcode-districts:
    post:
      tags:
        - Specialized Analysis
      summary: Time Filter Postcode Districts
      description: Filter UK postcode districts by travel time
      operationId: timeFilterPostcodeDistricts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeFilterPostcodeDistricts'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterPostcodeDistrictsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-filter/postcode-sectors:
    post:
      tags:
        - Specialized Analysis
      summary: Time Filter Postcode Sectors
      description: Filter UK postcode sectors by travel time
      operationId: timeFilterPostcodeSectors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeFilterPostcodeSectors'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeFilterPostcodeSectorsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/routes:
    get:
      tags:
        - Routes
      summary: Routes GET (Simple Route)
      description: |
        Calculate a single route using a simple GET request with query parameters.
        For more complex queries with multiple routes, use the POST endpoint.
        Note: Either departure_time or arrival_time must be specified (but not both).
      operationId: routesGet
      parameters:
        - name: app_id
          in: query
          required: true
          schema:
            type: string
          description: Your TravelTime application ID
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Your TravelTime API key
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - walking
              - public_transport
              - driving
              - cycling
          description: Mode of transport
        - name: origin_lat
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Latitude of the start location
        - name: origin_lng
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Longitude of the start location
        - name: destination_lat
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Latitude of the destination location
        - name: destination_lng
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Longitude of the destination location
        - name: departure_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Departure time in ISO 8601 format (e.g., 2025-11-11T08:00:00Z). Either departure_time or arrival_time must be specified (but not both)
        - name: arrival_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Arrival time in ISO 8601 format (e.g., 2025-11-11T08:00:00Z). Either departure_time or arrival_time must be specified (but not both)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRoutesGetResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Routes
      summary: Routes
      description: |
        Calculate detailed routes with turn-by-turn directions between locations.
        Supports multiple transportation modes and returns route geometry.
      operationId: routes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestRoutes'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRoutesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-map:
    get:
      tags:
        - Time Map
      summary: Time Map GET (Simple Isochrone)
      description: |
        Generate a single isochrone polygon using a simple GET request with query parameters.
        For more complex queries with multiple searches, unions, or intersections, use the POST endpoint.
        Note: Either departure_time or arrival_time must be specified (but not both).
      operationId: timeMapGet
      parameters:
        - name: app_id
          in: query
          required: true
          schema:
            type: string
          description: Your TravelTime application ID
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Your TravelTime API key
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - walking
              - public_transport
              - driving
              - cycling
          description: Mode of transport
        - name: travel_time
          in: query
          required: true
          schema:
            type: integer
            minimum: 60
            maximum: 14400
          description: Maximum journey time in seconds (up to 4 hours)
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Latitude of the search location
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Longitude of the search location
        - name: departure_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Departure time in ISO 8601 format (e.g., 2025-11-11T08:00:00Z). Either departure_time or arrival_time must be specified (but not both)
        - name: arrival_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Arrival time in ISO 8601 format (e.g., 2025-11-11T08:00:00Z). Either departure_time or arrival_time must be specified (but not both)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeMapResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Time Map
      summary: Time Map (Isochrones)
      description: |
        Generate isochrone polygons showing areas reachable within a given travel time.
        Returns polygon coordinates that can be visualized on a map.
      operationId: timeMap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeMap'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeMapResponse'
            application/geo+json:
              schema:
                type: object
                description: GeoJSON FeatureCollection with isochrone polygons
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/time-map/fast:
    post:
      tags:
        - Time Map
      summary: Time Map Fast
      description: |
        High-performance endpoint for generating isochrone polygons using pre-computed data.
        Faster response times than the standard time-map endpoint.
      operationId: timeMapFast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestTimeMapFast'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeMapResponse'
            application/geo+json:
              schema:
                type: object
                description: GeoJSON FeatureCollection with isochrone polygons
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/distance-map:
    post:
      tags:
        - Distance Map
      summary: Distance Map
      description: |
        Generate isodistance polygons showing areas reachable within a given travel distance.
        Similar to time-map but based on distance rather than time.
      operationId: distanceMap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestDistanceMap'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTimeMapResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/h3:
    post:
      tags:
        - Specialized Analysis
      summary: H3 Grid Analysis
      description: |
        Calculate travel times to H3 cells within a catchment area.
        Returns min, max, and mean travel times for each H3 cell.
      operationId: h3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestH3'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseH3Response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/h3/fast:
    post:
      tags:
        - Specialized Analysis
      summary: H3 Grid Analysis Fast
      description: |
        High-performance endpoint for calculating travel times to H3 cells.
        Uses pre-computed data for faster response times.
      operationId: h3Fast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestH3Fast'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseH3Response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/geohash:
    post:
      tags:
        - Specialized Analysis
      summary: Geohash Grid Analysis
      description: |
        Calculate travel times to geohash cells within a catchment area.
        Returns min, max, and mean travel times for each geohash cell.
      operationId: geohash
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestGeohash'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseGeohashResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v4/geohash/fast:
    post:
      tags:
        - Specialized Analysis
      summary: Geohash Grid Analysis Fast
      description: |
        High-performance endpoint for calculating travel times to geohash cells.
        Uses pre-computed data for faster response times.
      operationId: geohashFast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestGeohashFast'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseGeohashResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
[...]
